@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Plus+Jakarta+Sans:wght@700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle, rgb(4, 8, 33) 0%, rgba(14,40,42,1) 100%);
}


.name, .about-me, .exeperience {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
}

.header-bg{
  background-image: url('https://res.cloudinary.com/storylens/image/upload/v1693163483/a6hzr0cqbnaegesvzkhu.jpg');
  background-size: cover; 
  background-position-y: center;
  height: 368px;
  width: 100%;
}

div,p,section, ul, li {
  color: white;
}